<%- include('./generals/pageTop') %>
<%- include('./components/header',{user,todaysPost,bgOptArr})%>

<main id="data-continer">
    <%if(!threeDaysPosts?.length){ %>
<div class="empty">
        <h3>לא נמצאו פוסטים</h3>
        <button class="create-tovit" data-todays-post='<%- JSON.stringify(todaysPost) %>' data-user='<%- JSON.stringify(user) %>' data-bg-options='<%- JSON.stringify(bgOptArr) %>'>לחץ/י כאן על מנת להתחיל לרשום משהו טוב שקרה לך</button>
    </div>
    <% } else { threeDaysPosts.forEach(post=>{ %>
        <% if(!post.post_content.length) return %>
        <div class="thing-info" style="background-image: url('<%= post.background %>');">
        <ul>
            <% post.post_content.forEach(item=> { %>
                <li><%= item %></li>
                <%  }) %>
        </ul>
<div class="thing-opacity">
        <p class="">
            <% if(isSameDay(post?.post_date,new Date())){ %>
                        <span class="bolder">היום</span></p>
                        <% } else { %>
                        <span>
                            <%= post?.post_date?.toLocaleDateString('en-IL', { timeZone: 'Asia/Jerusalem' }) %>
                        </span>
        </p>
                        <% } %>
        <% if(post.public){ %>
            <p class="">פומבי</p>
        <% } else { %>
            <p class="">אישי</p>
            <% } %>
</div>

    </div>

        <% }) %>
    <% } %>

</main>
<%- include('./components/footer',{todaysPost}) %>

<%- include('./generals/pageBottom', { todaysPost}) %>
