<%- include('./generals/pageTop') %>
<main id="data-continer">
    <%if(!threeDaysPosts?.length){ %>
<div class="empty">
        <h3>לא נמצאו פוסטים</h3>
        <button class="create-tovit">לחץ כאן על מנת להתחיל לרשום משהו טוב שקרה לך</button>
    </div>
    <% } else { threeDaysPosts.forEach(post=>{ %>
        <div class="thing-info bg-<%= post.background %>" onclick="">
        <ul>
            <% post.post_content.split("%").forEach(item=> { %>
                <li><%= item %></li>
                <%  }) %>
        </ul>
<div class="thing-opacity">
        <p class="">תאריך: 
            <%if(post?.post_date.toLocaleDateString('en-IL', { timeZone: 'Asia/Jerusalem' }) === new Date().toLocaleDateString('en-IL', { timeZone: 'Asia/Jerusalem' })){ %>
                        <span class="bolder">היום</span></p>
                        <% } else { %>
                        <span><%= post?.post_date?.toLocaleDateString('en-IL', { timeZone: 'Asia/Jerusalem' }) %></span></p>
                        <% } %>
        <% if(post.public){ %>
            <p class="">פומבי</p>
        <% } else { %>
            <p class="">אישי</p>
            <% } %>
</div>

    </div>

        <% }) %>
    <% } %>

</main>
<%- include('./generals/pageBottom') %>
