<%- include('../generals/pageTop') %>
<%- include('../components/header',{user,todaysPost,bgOptArr})%>


<main id="profile-continer">
   <div id="user-profile">
    <%- include('./sidenavCom',{user})%>

    <div id="main-profile">
        <h2><%= title || 'פרופיל אישי' %></h2>
        <div id="content-container">
            דף שצריך לשנות !!
            <p>image prev ?</p>
            <p>new file upload</p>
            
        </div>

        
        <button id="submit" type="button" class="btn confirm">עדכון
        </button>
    </div>
   </div>
</main>

<%- include('../components/footer') %>

<%- include('../generals/pageBottom') %>
